@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-form: #e73e49;
} 

.full-page {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(88, 12, 12, 0.406),rgba(0, 0, 0, 0.341)),url(../img/background/background_login.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.navbar
{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 20px;
	padding-bottom: 50px;
}

.logo_web {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.title {
  color: #CA2D11;
  padding-left: 5px;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
  padding-right: 20px;
}

nav
{
  flex: 1;
  text-align: right;

}
nav ul 
{
  display: inline-block;
  list-style: none;
}
nav ul li
{
  display: inline-block;
  margin-right: 15px;
}
nav ul li a
{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}

nav ul li a:hover
{
  color:#CA2D11;
}

nav ul li a:hover::after {
  width: 50%;
}


.box {
  position: relative;
  background: #1c1c1c;
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  margin: auto;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 800px;
  height: 500px;
  background: linear-gradient(0deg, transparent, var(--color-form), var(--color-form));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 800px;
  height: 500px;
  background: linear-gradient(0deg, transparent, var(--color-form), var(--color-form));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(350deg);
  }
}

section {
  position: absolute;
  inset: 2px;
  background: #28292d;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
  background: #23242a;
  border-radius: 8px;
}

.imgBx p {
  font-size: 42px;
  font-weight: 800;
  padding: 20px;
  color: var(--color-form);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

.formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #23242a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 80px;
  transition: 0.5s;
  border-radius: 8px;
}

.formBx h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: var(--color-form);
  margin-bottom: 50px;
}

.input {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.input input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.input span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.input input:valid ~span,
.input input:focus ~span {
  color: var(--color-form);
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.input i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-form);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.input input:valid ~i,
.input input:focus ~i {
  height: 44px;
}

input[type="submit"] {
  height: 40px;
  border: none;
  outline: none;
  background: var(--color-form);
  padding: 11px 25px;
  margin: 20px 0;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.forgotpwd {
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-form);
}

.signup {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
  padding: 40px;
}

.signup a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-form);
}

.signupBx {
  pointer-events: none;
}

.active .signupBx {
  pointer-events: initial;
}

.signupBx .formBx {
  top: 100%;
}

.active .signupBx .formBx {
  top: 0;
}

.signupBx .imgBx {
  top: -100%;
  transition: 0.5s;
}

.active .signupBx .imgBx {
  top: 0;
}

.signinBx .formBx {
  top: 0;
}

.active .signinBx .formBx {
  top: 100%;
}

.signinBx .imgBx {
  top: 0;
  transition: 0.5s;
}

.active .signinBx .imgBx {
  top: -100%;
}

.signupBx .formBx {
  width: 100%;
  padding-top: 10px;
}

.signupBx .formBx h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.formBx select {
  height: 44px;
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
  background-color: var(--color-form);
}

.formBx .select > span {
  color: var(--color-form);
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.formBx section > i {
  height: 44px;
}

.signupBx .formBx .row {
  display: flex;
  justify-content: space-between;
}

.row > .input {
  margin-left: 20px;
  margin-right: 20px;
}

.rowbottom {
  display: flex;
  float: right;
  margin-right: 15px;
}

.rowbottom > .signup {
  padding: 32px;
}

@media (max-width: 991px) {
  .box {
    max-width: 400px;
  }

  .box::after {
    max-width: 400px;
  }

  .box::before {
    max-width: 400px;
  }

  section .container {
    max-width: 400px;
  }

  .imgBx {
    display: none;
  }

  .formBx {
    width: 100%;
  }

  .active .signinBx .formBx {
    top: -100%;
  }
}